/* Apply box-sizing globally */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  @media (min-width: 1025px) {
    /* Adjusted .info-box */
    .info-box {
      border: double #dbac34;
      border-width: 5px;
      padding: 6vh 3vw;
      width: 40vw;
      margin: 0 auto;
    }
  
    .info-text {
      color: #dbac34;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .info-box {
        border: double #dbac34;
        border-width: 5px;
        padding: 6vh 3vw;
        width: 40vw;
        margin: 0 auto;
      }
  
    .info-text {
      color: #dbac34;
    }
  }
  
  @media (max-width: 768px) {
    .info-box {
        border: double #dbac34;
        border-width: 5px;
        padding: 6vh 3vw;
        width: 40vw;
        margin: 0 auto;
      }
  
    .info-text {
      color: #dbac34;
    }
  }