/* Apply box-sizing globally */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  @media (min-width: 1025px) {
    /* Adjusted .info-box */
    .info-box {
      border: double #dbac34;
      border-width: 5px;
      padding: 6vh 3vw;
      margin-top: 0; /* Start from the top of .main-content */
      width: 40vw;
    }
  
    .info-text {
      color: #dbac34;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .info-box {
      border: double #dbac34;
      border-width: 5px;
      padding: 4vh 3vw;
      margin-top: 0; /* Start from the top of .main-content */
      width: 50vw;
    }
  
    .info-text {
      color: #dbac34;
    }
  }
  
  @media (max-width: 768px) {
    .info-box {
      border: double #dbac34;
      border-width: 5px;
      margin-top: 0; /* Start from the top of .main-content */
      width: 80vw; /* Adjusted width for mobile responsiveness */
    }
  
    .info-text {
      color: #dbac34;
    }
  }